[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(0, 0, 0);
}

.tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid rgb(255, 174, 0);
    color: rgb(255, 174, 0);
}

.tab {
    cursor: pointer;
    padding: 10px;
}

.tab.active {
    background-color: grey;
}

.tab:hover {
    background-color: rgb(255, 174, 0);
}

.tab-content {
    margin-left: 20px;
    margin-right: 20px;
}

h1 {
    text-align: center;
    color: rgb(255, 174, 0);
}
p {
    font-size: 15pt;
    color: rgb(255, 174, 0);
}
img {
    padding: inherit;
    margin:auto;
    width: 600px;
    display: block;
    margin-top: 75px;
    margin-bottom: 75px;
  }
